.featured {
    background-color: var(--color-black-4);
    /* background-image: var(--gradient-black); */
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-block: 19px 0;

    color: var(--color-white);
    overflow-x: hidden;
    overflow-y: hidden;


}

.featured .banner {
    display: flex;
    align-items: flex-end;
    position: relative;

    aspect-ratio: 359.183/188.283;
    width: 95.733%;
    /* height: auto; */
    border-radius: 21px;
    padding-inline: 2.4%;
  padding-block-end: 3.2%;

    background-color: var(--trans-grey);
    /* background-image: linear-gradient(to bottom, #9C9C9B, #1C1C1C); */
    /* background-image: linear-gradient(to bottom, rgba(156, 156, 155, 0.2), rgba(28, 28, 28, 0.2)); */
    
    /* background: var(--gradient-black-1); */




    
}

.featured .banner .user-pfp {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    
    width: max-content;
    margin-inline-start: 1px;


    
}   

.featured .banner .user-pfp .pfp-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    width: 17.06%;
    height: auto;
    margin-inline-end: 8px;
    
    border: 2px solid white;
    border-radius: 21px;

    overflow: clip;
    
    filter: drop-shadow(0px 8px 4px var(--drop-shadow));
}
.featured .user-pfp .pfp {
    display: block;
    padding: 0;
    border: 0;
    margin: 0;
    width: 100%;

}

.featured .user-pfp .user-header {
    display: flex;
    /* flex-direction: column;
    position: relative;
    width: max-content;
    align-items: flex-start; */
    /* justify-content: flex-start; */
    font-size: var(--user-header-fm);
    font-weight: 900;
    /* bottom: 0;
    left: 0; */
    /* transform: translateY(2%); */
}


/* Doing this in sections */


@media (width >= 50.625em) {
    .featured .banner {
        width: 98.026%;
        padding-inline: 2.7%;
        padding-block-end: 3.279%;
    }

    .featured .banner .user-pfp .pfp-cont {
        width: 17.122%;
        height: auto;
        /* height: 128.29px; */

        margin-inline-end: 14.71px;

        filter: drop-shadow(0px 16px 4px var(--drop-shadow));
    }

    .featured .user-pfp .user-header {
        font-size: 2.75rem;
        top: 50%;
        transform: translateY(25%);
    }
}

@media (width >= 90em) {
    .featured .banner {
        width: 83.532%;
        padding-inline: 23px;
        padding-block-end: 29.05px;

    }

    .featured .banner .user-pfp .pfp-cont {
        width: 136px;
        height: auto;
    }

    .featured .user-pfp .user-header {
        /* font-size: 2.875rem; */
    }

}