.navigation-container {
    display: flex;
    position: absolute;
    width: 99.9%;
    justify-content: space-between;
    pointer-events: none; 
    
    /* height: 100%; */
}

/* .slider-tab {
    width: 2%;
    height: 100%;
    background-color: var(--color-yellow);
    transition: background-color 150ms ease-in-out;
}

.slider-tab:hover {
    background-color: var(--color-yellow-1);
} */

.bx-left-arrow-alt,
.bx-right-arrow-alt {
    padding-block: 15px;
    font-size: 34px;
    background-color: var(--color-black-3);
    border-radius: 5px;
    transition: 150ms ease-in-out;
    transition-property: opacity, color;
    opacity: .5;
    cursor: pointer;
    pointer-events: auto;
}


.bx-left-arrow-alt:active,
.bx-right-arrow-alt:active {
    color: var(--color-yellow);
}

.featured .navigation-container {
    /* top: 0;
    translate: 0 83%; */
    top: 20%;
}

.monthly.section .navigation-container,
.seasonal.section .navigation-container {
    top: 50%;
    transform: translateY(-50%);
    /* translate: 0% 161%; */
}

.bx-left-arrow-alt:hover,
.bx-right-arrow-alt:hover {
    opacity: .7;

}

.reviews.section .navigation-container {
    top: 50%;
    translate: 0% -7%;
    transition: 150ms ease-in-out;
    transition-property: opacity;
    opacity: 1;
    pointer-events: none;
}

.reviews.section .navigation-container .bx-left-arrow-alt,
.reviews.section .navigation-container .bx-right-arrow-alt {
    transition: 150ms ease-in-out;
    transition-property: color;
    pointer-events: all;

}

.reviews.section .navigation-container .bx-left-arrow-alt:active,
.reviews.section .navigation-container .bx-right-arrow-alt:active {
    /* opacity: .7; */
    color: var(--color-yellow);

}


@media (width >= 50.625em) {
    .bx-left-arrow-alt,
    .bx-right-arrow-alt {
        padding-block: 21.5px;
        font-size: 68px;
        border-radius: 17px;
        padding-inline: 2px;
    }

    .featured .navigation-container {
        top: 50%;
        translate: 0px -222%;
    }

    .reviews.section .navigation-container {
        top: 50%;
        translate: 0% -30%;
    }

    .monthly .navigation-container,
    .seasonal .navigation-container {
        /* top: 50%;
        translate: 0% -30%; */
    }
    
}

@media (width >= 90em) {
    .navigation-container {
        width: 92%;
    }

    .featured .navigation-container {
        top: 50%;
        translate: 0 -199%;
    }

    .monthly.section .navigation-container {
        /* translate: 0% 190%; */
        transform: translateY(-37%);
    }
    
    .reviews.section .navigation-container {
        /* translate: 0% -30%; */
        top: 50%;
        translate: 0% -30%;
    }
}