.navigation-container {
    display: flex;
    position: absolute;
    width: 99.9%;
    justify-content: space-between;
    /* border: 1px solid red; */
    /* opacity: .5; */
    
}


.bx-left-arrow-alt,
.bx-right-arrow-alt {
    padding-block: 15px;
    font-size: 34px;
    background-color: var(--color-black-3);
    border-radius: 5px;
    /* border: 1px solid var(--color-white); */
    transition: 150ms ease-in-out;
    transition-property: opacity, color;
    opacity: .5;
    /* border-radius: 11px; */
}

.bx-left-arrow-alt:hover,
.bx-right-arrow-alt:hover {
    opacity: .7;

}

.bx-left-arrow-alt:active,
.bx-right-arrow-alt:active {
    color: var(--color-yellow);

}

.featured .navigation-container {
    top: 0;
    translate: 0 83%;
}

.monthly.section .navigation-container {
    top: 0;
    translate: 0% 161%;
}


/* .featured .navigation-container:hover {
    color: var(--color-yellow);
    opacity: .8;
} */


@media (width >= 50.625em) {
    .bx-left-arrow-alt,
    .bx-right-arrow-alt {
        padding-block: 21.5px;
        font-size: 68px;
        border-radius: 17px;
        padding-inline: 2px;
    }

    .featured .navigation-container {
        top: 0;
        translate: 0 120%;
    }
    
}

@media (width >= 90em) {
    .featured .navigation-container {
        width: 92%;
    }
}