.sign-in, .sign-up {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    /* background-color: var(--color-black-1); */
    padding: 10px;
    border-radius: 21px;
    transition: 150ms ease-in-out;
    transition-property: background-color;
}

.sign-in:hover {
    background-color: var(--color-black-3);
}

.sign-in-text, .sign-up-text {
    display: flex;
    z-index: 1;
    font-size: .95em;
    font-weight: 400;
    color: var(--color-white);
    /* text-shadow: 0 0 0px var(--color-white); */

    cursor: pointer;

    transition: 150s ease-in-out;
    /* transition-property: font-size, text-shadow; */
}

.sign-in-text:hover {
    /* transform: scale(1.03); */
    /* font-size: 1em; */
    /* text-shadow: 0 0 25px var(--color-white); */
}
#sign-in-text-f, #sign-in-text-h {
    color: var(--color-white);
}
#sign-in-text-f:visited, #sign-in-text-h:visited {
    color: var(--color-white);
}





@media (width >= 50.625em) {
    .sign-in, .sign-up {
        /* font-size: fs-6; */
    }
    
}

@media (width >= 90em) {
    .footer .sign-in-text, .footer .sign-up-text {
        /* font-size: 1.5rem; */
    }
    
}