.review-slider-container {
    display: flex;
    position: relative;
    align-self: center;
    align-content: center;

    width: 95.733%;
    /* width: 96.11%; */

    /* background-color: var(--color-black); */
    
    border-radius: 21px;
    min-height: 180px;
    /* height: clamp(180px, 209px, 238px); */
    overflow-x: clip;

}
/*
.slider-contain {
    display: flex;
    position: relative;
    width: 300%;
    /* width: 304.87804878%; */
/* } */
/* .place-holder{
    opacity: 0;
    width: 33.31%;
/* } */

.review-slider {
    display: flex;
    flex-direction: row;
    position: absolute;
    align-self: center;
    width: 300%;
    justify-content: flex-start;
    background: transparent;
    top: auto;
    /* translate: .27% 0;  */

    /* min-width: 1098.77px; */
    /* translate: 0% 5.3%; */
}
.review-card {
    display: flex;
    align-self: center;
    flex-direction: row;
    justify-self: flex-start;
    align-items: center;
    width: 33.333333%;
    /* width: 95.733%; */
    padding-inline: 11px;
    padding-block: 13px;
    border-radius: 21px;
    /* margin-block-end: 18px; */


    /* border: 1px solid var(--color-white); */
    background-color: var(--color-black-3);
    /* box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.90); */
    transform: translateX(0%);
    transition: transform 300ms ease-in-out;

}

.profile-picture {
    display: flex;
    align-self: start;
    justify-content: center;
    align-items: center;
    margin-block-start: 5px;
    margin-inline-end: 8px;
    border-radius: 100%;
    background-color: gray;
    

    aspect-ratio: 1/1;
    width: 45px;
    height: 45px;

}

.review-data {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.movie-reviewed-link {
    color: var(--color-white);
}

.review-title {
    font-size: 1em;
    font-weight: 500;

    /* padding: 6; */
    margin-block-end: 2px;
}

.username-rating {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-block: 0px;

    margin-block-end: 6px;

    width: max-content;
}

.user-link {
    color: var(--color-white);
}

.username {
    font-size: 12px;
    font-weight: 500;
    margin-inline-end: 3px;
}

.rating-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}

.rating-container > i {
    font-size: 12px;
    margin-inline-end: 3px;
}

.rating {
    font-size: 12px;
    font-weight: 500;
}

p.review-body {
    font-size: 16px;
    font-weight: 400;
    /* padding-block: 0; */
    max-width: 100%;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 13px; 
} 

.like-button {
    cursor: pointer;
    
    transition: 300ms ease;
    transition-property: color, transform;
}

.like-button:hover {
    color: var(--color-yellow);
    transform: scale(1.05);
    /* transform: scale(1.05) rotate(-30deg) rotate(30deg); */

}

.like-button:active {
    color: var(--color-yellow-1);

}

.like-count {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;

}



@media (width >= 50.625em) {
    .review-slider-container {
        width: 91.6049438%;
        
        /* width: 94.5679012346%; */
        /* height: clamp(353px, 32vh, 400px); */
        overflow-x: clip;
        
    }

    .review-slider {
        /* width: 322.7154047%; */
        width: 300%;
        top: auto;
        translate: 0 0;
    }
    /* .review-card {
        width: 83.532%;
        padding-block: 30px;
        padding-inline: 26px;
        margin-block-end: 30px;

    } */
    .review-card {
        /* width: 83.532%; */
        width: 33.3333%;
        /* width: 91.6049438%; */
        padding-block: 28px;
        padding-inline: 26px;
    }

    .profile-picture {
        width: 74px;
        height: 74px;
        margin-inline-end: 22px;
        margin-block: 0;
    }

    .review-title {
        font-weight: 600;
        margin-block-end: 3px;
    }

    .username-rating {
        margin-block-end: 12px;
    }

    .username {
        font-size: 16px;
        font-weight: 500;
        margin-inline-end: 5px;
    }

    .rating-container > i {
        font-size: 16px;
        margin-inline-end: 2px;
        padding: 0;
    }
    

    .rating {
        font-size: 16px;
        font-weight: 500;

    }
    
    p.review-body {
        margin-block-end: 14px; 
    }


    /* .review-card { */
        /* padding-block: 19px 47px; */
        /* padding-block: 34px 67px; */
        /* padding-block: 1.425% 2.8079%;
        margin-inline-end: 1.216%; */
        /* padding-inline: 47px; */
        /* padding-inline: 54px; */
        /* padding-inline: 2.2634%;
    } */

    /* .review-card-title {
        padding-block-end: 6px;
        align-items: center;
        font-size: var(--fs-3);
    }

    .review-card-title h3 {
        padding-right: 7px;
    }

    .review-rating {
        padding-block-end: 30px;
    }


    .like-count .likes {
        font-size: 25px;
    }

    .num-likes {
        font-size: 20px;
        padding-bottom: 0;
    }

    .review-text {
        font-size: var(--fs-4);
        font-weight: 400; */
        /* max-width: 72ch; */
        /* max-width: 72ch;
    } */
}

@media (width >= 90em) {
    .review-slider-container {
        /* width: 842px; */
        width: 83.533%;
        /* height: 371.588974188px; */
        overflow-x: clip;

    }

    .review-slider {
        width: 300%;
        min-height: 221px;
        /* top: 8%;    */
        /* top: 7.8%; */
    }

    /* .review-card { */
        /* width: 842px;
        width: 28.55%; */
        /* width: 33.333333%;

    } */
    .review-card {
        width: 33.333333%;
        padding-block: 30px;
        padding-inline: 26px;
        /* margin-block-end: 30px; */

    }

    .profile-picture {
        width: 74px;
        height: 74px;
        margin-inline-end: 22px;
        margin-block: 0;
    }

    .movie-reviewed {
        /* font-size: 16px; */
        font-size: 14px;
        font-weight: 400;
        /* padding-bottom: 3px; */
    }
    /* 17.5px */
    .review-title {
        /* font-weight: 500; */
        font-weight: 600;
        font-size: 1.125em;
        /* margin-block-end: 3px; */
    }

    .username-rating {
        margin-block-end: 6px;
        /* margin-block-end: 12px; */
    }

    .username {
        /* font-size: 1.125em; */
        font-size: .875em;
        font-weight: 500;
        margin-inline-end: 5px;

    }

    .rating-container > i {
        font-size: 18px;
        margin-inline-end: 2px;
        padding: 0;
    }

    .rating {
        font-size: 1.094em;
        /* font-size: 1.125em; */
        font-weight: 500;

    }
    
    p.review-body {
        margin-block-end: 14px; 
    }

    .like-count > i {
        width:20px;
        height: 20px;
        font-size: 1.25em;
        margin-inline-end: 4px;
    }

    .num-likes {
        font-size: 1em;
    }
}
